[submodule "examples"]
	path = examples
	url = https://github.com/opensabre/examples.git
[submodule "opensabre-framework"]
	path = opensabre-framework
	url = https://github.com/opensabre/opensabre-framework.git
[submodule "base-authorization"]
	path = base-authorization
	url = https://github.com/opensabre/base-authorization.git
[submodule "base-organization"]
	path = base-organization
	url = https://github.com/opensabre/base-organization.git
[submodule "base-gateway"]
	path = base-gateway
	url = https://github.com/opensabre/base-gateway.git
[submodule "docs"]
	path = docs
	url = https://github.com/opensabre/docs.git
