server:
  port: 8088

spring:
  application:
    name: moss-demo
  rabbitmq:
    host: ${RABBIT_MQ_HOST:localhost}
    port: ${RABBIT_MQ_PORT:5672}
    username: ${RABBIT_MQ_USERNAME:guest}
    password: ${RABBIT_MQ_PASSWORD:guest}

info:
  groupId: @project.groupId@
  artifactId: @project.artifactId@
  version: @project.version@
